# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Assignment2-7/Assignment2-7/Debug/Assignment2-7.tlog/
Assignment_1/SystemC_Assignment1/.vs/SystemC_Assignment1/v15/
Assignment2-7/.vs/Assignment2-7/v15/
Assignment2-7/Assignment2-7/IOSC_Wave.vcd
Assignment2-7/Assignment2-7/Debug/vc141.idb
KimsNeoNet/x64/Debug
Assignment3_Ny/.vs/Assignment3_Ny/v15/Browse.VC.db
